<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="ion-text-center"><img alt="logo" height="150" style="margin-top: 2%;"  src="../../assets/img/logo.webp" >
</div>
<h2 class="ion-text-center">User Role Selection</h2>
<div class="ion-padding">
<ion-button expand="block"  (click) ="home(1)">Dealer</ion-button>
</div>
<div class="ion-padding">
<ion-button expand="block"  (click) ="home(0)" >Customer</ion-button>
</div>

</ion-content>
<ion-footer>
  <div class="ion-text-center">
    Loading <ion-spinner name="dots"></ion-spinner>
</div>
  </ion-footer>
