
.fb{
  --background: #ffff;
  --color	: #0869AE;
  --border-radius: 50px;

}
.google{
  --background: #ffff;
  --color	: #000407;
  --border-radius: 50px;
}
.logins{
  --border-radius: 50px;
}
